//primary colors
$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);

//neutral colors
$Very-Dark-Blue: hsl(234, 12%, 34%);
$Grayish-Blue: hsl(229, 6%, 66%);
$Very-Light-Gray: hsl(0, 0%, 98%);

//font
$mainFont: 'Poppins',
sans-serif;
$fontSize: 14px;
$fontWeight: 100;

//padding 10%
$padding: 5%;

//grid system
$gridNum: 3;

@for $i from 1 through $gridNum {
    .col-#{$i} {
        width: (100% / $gridNum);
        float: left;
    }
}

//margin-top
.mt {
    margin-top: 100px;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: $mainFont;
    font-size: $fontSize;
    background-color: $Very-Light-Gray;

    .container {
        padding: $padding / 2;

        .header {
            width: 55%;
            margin: auto;
            text-align: center;

            p:first-child {
                font-size: 1.6em;
                font-weight: $fontWeight * 1;
                color: $Grayish-Blue;
            }

            p:nth-child(2) {
                font-size: 1.6em;
                font-weight: $fontWeight * 6;
                color: $Very-Dark-Blue;
            }

            p:last-child {
                font-size: 1.2em;
                font-weight: $fontWeight * 2;
                padding-top: 0.5em;
                color: $Grayish-Blue;
            }
        }

        .card {
            height: 200px;
            padding: $padding;
            margin: $padding;
            background-color: #fff;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            box-shadow: 4px 4px 12px 0px $Grayish-Blue;
            overflow: auto;

            p:first-child {
                font-size: 1.2em;
                font-weight: $fontWeight * 6;
                color: $Very-Dark-Blue;
            }

            p:nth-child(2) {
                font-size: 1em;
                font-weight: $fontWeight * 2;
                color: $Grayish-Blue;
                line-height: 2em;
            }

            img {
                float: right;
                padding-top: $padding * 2;
            }
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }

        .cyan {
            border-top: 5px solid $Cyan;
        }

        .red {
            border-top: 5px solid $Red;
        }

        .orange {
            border-top: 5px solid $Orange;
        }

        .blue {
            border-top: 5px solid $Blue;
        }
    }
}

//media query
@media screen and (max-width: 790px) {
    .header {
        padding: $padding * 2 0;
    }

    .col-1,
    .col-2,
    .col-3 {
        width: 55%;
        float: none;
        margin: 0 auto;
    }

    img {
        padding-top: $padding * 4;
    }
}
